* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Noto", sans-serif;
}

.hero-section {
  width: 100%;
  height: 90vh;
  background: url("../images/hero-image.png") no-repeat center center/cover;
  place-content: center;
  place-items: center;
  padding-top: 1rem;
}
.hero-section header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 0.5rem 4rem;
  color: #fff;
  height: 60px;
}
.hero-section header .logo-wrapper {
  display: flex;
  align-items: center;
}
.hero-section header .logo-wrapper img {
  width: 50px;
  height: 50px;
  margin-right: 1rem;
}
.hero-section header .logo-wrapper p {
  font-size: 1.2rem;
  font-weight: 500;
}
.hero-section header .login-wrapper {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 500;
}
.hero-section header .login-wrapper span {
  margin-right: 1.3rem;
}
.hero-section header .login-wrapper .hamburger {
  background: #BE123C;
  padding: 0.1rem;
  border-radius: 50%;
  width: 30px;
  text-align: center;
}
.hero-section header form input {
  max-width: 100%;
  width: 250px;
  border-radius: 10px;
  border: 1px solid #fff;
  height: 35px;
  padding: 0rem 0.6rem;
  background-color: transparent;
  font-size: 1rem;
  color: #fff;
}
.hero-section .hero-text {
  position: absolute;
  left: 60px;
  color: #fff;
  bottom: 30px;
  top: 150px;
  display: flex;
  flex-direction: column;
  max-width: 35%;
}
.hero-section .hero-text h3 {
  line-height: 50px;
  font-size: 46px;
  font-weight: 700;
  padding: 1rem 0rem;
}
.hero-section .hero-text .icon-wrappers {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.hero-section .hero-text .icon-wrappers :nth-child(2) {
  margin-left: 1.2rem;
}
.hero-section .hero-text p {
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  text-align: start;
  margin: 1.5rem 0rem;
}
.hero-section .hero-text button {
  max-width: 169px;
  display: flex;
  align-items: center;
  font-size: 10px;
  background: #BE123C;
  justify-content: space-evenly;
  color: #fff;
  height: 36px;
  border-width: 0rem;
  border-radius: 0.5rem;
  padding: 6px 16px;
  text-align: center;
  cursor: pointer;
}
@media (max-width: 1010px) {
  .hero-section .hero-text {
    top: 100px;
    max-width: 40%;
    left: 30px;
  }
  .hero-section .hero-text h3 {
    font-size: 36px;
    line-height: 40px;
  }
}
@media (max-width: 650px) {
  .hero-section header {
    padding: 0.5rem 1rem;
  }
  .hero-section header .login-wrapper {
    display: none;
  }
  .hero-section header form input {
    width: 90%;
    max-width: 100%;
  }
  .hero-section header .logo-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .hero-section header .logo-wrapper img {
    width: 30px;
    height: 30px;
    margin-right: 1rem;
  }
  .hero-section header .logo-wrapper p {
    font-size: 0.8rem;
    font-weight: 500;
  }
  .hero-section .hero-text {
    top: 100px;
    max-width: 60%;
    left: 30px;
  }
  .hero-section .hero-text h3 {
    font-size: 36px;
    line-height: 40px;
  }
}

main {
  border: 1px solid red;
  padding: 2rem 4rem;
  margin-bottom: 3rem;
}
main .featured-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.2rem;
}
main .featured-section button {
  color: #BE123C;
  background: #fff;
  border-width: 0rem;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
main .featured-section button #chevron-right-icon {
  margin-left: 0.3rem;
}
main .card-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 40px;
  padding: 20px 5px;
}
main .card-wrapper .card {
  border: 1px solid #BE123C;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  text-align: start;
  margin-top: 1.5rem;
  background-color: #fff;
}
main .card-wrapper .card img {
  max-width: 100%;
  height: 300px;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}
main .card-wrapper .card .movie-detail {
  padding: 1rem 0.5rem 1.5rem 0.5rem;
  font-size: 1rem;
}
main .card-wrapper .card .movie-detail button {
  height: 30px;
  width: 100%;
  cursor: pointer;
  margin-top: 1rem;
}
main .card-wrapper .card #view {
  padding: 0.3rem;
  border: 1px solid #BE123C;
  position: relative;
  bottom: 11px;
  left: 10px;
  right: -50px;
  text-align: center;
  width: 100px;
  border-radius: 8px;
  text-decoration: none;
  color: #1d3344;
}
@media (max-width: 950px) {
  main {
    padding: 2rem 2rem;
  }
  main .card-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    padding: 20px 5px;
  }
}
@media (max-width: 630px) {
  main .card-wrapper {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
    padding: 20px 0px;
  }
}
@media (max-width: 424px) {
  main .card-wrapper {
    grid-template-columns: 1fr;
    grid-gap: 30px;
    padding: 20px 0px;
  }
}/*# sourceMappingURL=home.css.map */