@import './global';

*{
    @include global;
}
.single-page-container{
    padding-bottom: 4rem;
    display: flex;

    & .side-bar{
        border: 1px solid #BE123C;
        flex-basis: 25%;
        margin-right: 2%;
        padding: 1.5rem 1rem 1.5rem 3rem;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        border-top-right-radius: 2rem;
        border-bottom-right-radius: 2rem;


        & .logo-wrapper{
            display: flex;
            align-items: center;

            & img{
                width: 50px;
                height: 50px;
                margin-right: 1rem;
            }
            & p{
                font-size: 1.2rem;
                font-weight: 600;
            }
        }

        & ul{
            display: inherit;
            flex-direction: inherit;
            margin: 3rem 0rem;

            & a{
                margin-bottom: 2rem;
                text-decoration: none;
                cursor: pointer;
                color: #72777a;
                font-size: 1rem;
                font-weight: 600;

                & img{
                    right: 10px;
                    position: relative;
                    top: 10px;
                }
            }
        }

        & #logout{
            margin-bottom: -2rem;
            text-decoration: none;
            cursor: pointer;
            color: #72777a;
            font-size: 1rem;
            font-weight: 600;

            & img{
                right: 10px;
                position: relative;
                top: 10px;
            }
        }

        & .down-box{
            display: inherit;
            flex-direction: inherit;
            border: 1px solid #BE123C;
            border-radius: 1rem;
            align-items: center;
            background-color: #f3ecee;
            padding: 1rem;
            margin-bottom: 2rem;

            & p, small, button{
                margin-bottom: 1.5rem;
            }
            & button{
                width: 130px;
                height: 30px;
                border-radius: 0.4rem;
                border-width: 0rem;
                background: #e7c5cd;
                color: #BE123C;
                font-weight: 600;
            }
        }
    }
    & .container{
        flex-basis: 70%;
        margin-left: 3%;

        & .wrapper1{
            display: flex;
            flex-direction: column;

            & img{
                width: 100%;
                height: 100vh;
                object-position: center;
                place-content: center;
                place-items: center;
            }
            & .detail-container{
                display: flex;
                justify-content: space-around;
                padding: 1.5rem 0rem 0rem 0rem;

                & div{
                    display: inherit;
                    flex-direction: column;

                }
                & .movie-details{
                    flex-basis: 65%;

                    h4, b{
                        line-height: 1.5;
                        color: #4c5053;
                    }

                    & p{
                        line-height: 1.6;
                        margin-top: 1rem;
                    }
                }

                & #part3{
                    padding: 0rem 1.5rem;
                    text-align: right;
                    flex-basis: 35%;

                    & button{
                        width: 100%;
                        margin: 0.5rem 0rem;
                        height: 36px;
                        cursor: pointer;
                        font: 1.1rem;
                        background: #BE123C;
                        border-radius: 0.5rem;
                        color: #fff;
                        outline: none;
                        border: #fff;
                    }
                    & img{
                        width: 100%;
                        height: 150px;
                        margin-top: 1.5rem;
                    }
                }
            }
        }
    }

    @media (max-width:950px){

        & .detail-container{
                flex-direction: column;

                justify-content: space-around;
                padding: 1.5rem 0rem 0rem 0rem;
        }
        & .part3{
            flex-direction: column;
            padding-bottom: 2rem;

            & .movie-details{
                padding: 1rem 1.5rem
            }

            & #even img{
                width: 100%;
            }
        }
    }
    @media (max-width:650px){
        flex-direction: column;

        & .side-bar{
            padding-bottom: 3rem;
            border-top-right-radius: 0rem;
            margin-bottom: 2rem;
        }

        & .container{
            margin-left: 0rem;

            & .movie-details{
                padding: 1.3rem;
            }
        }
    }
}
