* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Noto", sans-serif;
}

.single-page-container {
  display: grid;
  grid-template-rows: 1fr 2fr;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: "part1 part2 part2 part2" "part1 part2 part2 part2" "part1 part3 part3 part3" "part1 part3 part3 part3";
  gap: 2rem;
}
.single-page-container .part1 {
  border: 1px solid red;
  grid-area: part1;
  padding: 1.5rem 1rem 1.5rem 3rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
.single-page-container .part1 .logo-wrapper {
  display: flex;
  align-items: center;
}
.single-page-container .part1 .logo-wrapper img {
  width: 50px;
  height: 50px;
  margin-right: 1rem;
}
.single-page-container .part1 .logo-wrapper p {
  font-size: 1.2rem;
  font-weight: 600;
}
.single-page-container .part1 ul {
  display: inherit;
  flex-direction: inherit;
  margin: 3rem 0rem;
}
.single-page-container .part1 ul a {
  margin-bottom: 2rem;
  text-decoration: none;
  cursor: pointer;
  color: #72777a;
  font-size: 1rem;
  font-weight: 600;
}
.single-page-container .part1 ul a img {
  right: 10px;
  position: relative;
  top: 10px;
}
.single-page-container .part1 #logout {
  margin-bottom: -2rem;
  text-decoration: none;
  cursor: pointer;
  color: #72777a;
  font-size: 1rem;
  font-weight: 600;
}
.single-page-container .part1 #logout img {
  right: 10px;
  position: relative;
  top: 10px;
}
.single-page-container .part1 .down-box {
  display: inherit;
  flex-direction: inherit;
  border: 1px solid #BE123C;
  border-radius: 1rem;
  align-items: center;
  background-color: #f3ecee;
  padding: 1rem;
  margin-bottom: 2rem;
}
.single-page-container .part1 .down-box p, .single-page-container .part1 .down-box small, .single-page-container .part1 .down-box button {
  margin-bottom: 1.5rem;
}
.single-page-container .part1 .down-box button {
  width: 130px;
  height: 30px;
  border-radius: 0.4rem;
  border-width: 0rem;
  background: #e7c5cd;
  color: #BE123C;
  font-weight: 600;
}
.single-page-container .part2 {
  border: 1px solid green;
  grid-area: part2;
  background: url("../images/hero-imgage1.png") no-repeat center center/cover;
  -o-object-fit: center;
     object-fit: center;
  place-content: center;
  place-items: center;
  height: 60vh;
  width: 100%;
}
.single-page-container .part3 {
  border: 1px solid yellow;
  grid-area: part3;
  display: flex;
  justify-content: space-between;
  padding-right: 2rem;
}
.single-page-container .part3 div {
  flex-wrap: wrap;
  display: inherit;
  flex-direction: column;
}
.single-page-container .part3 #even {
  padding-left: 1.5rem;
  text-align: right;
}
.single-page-container .part3 #even button {
  width: 100%;
  margin: 0.5rem 0rem;
  height: 36px;
  cursor: pointer;
  font: 1.1rem;
  background: #BE123C;
  border-radius: 0.5rem;
  color: #fff;
  outline: none;
  border: #fff;
}
.single-page-container .part3 .single-movie h4, .single-page-container .part3 .single-movie b {
  line-height: 1.6;
  color: #4c5053;
}
.single-page-container .part3 .single-movie p {
  line-height: 1.6;
  margin-top: 1rem;
}/*# sourceMappingURL=singlepage.css.map */